<div id="<%= dom_id visit %>">
  <p>
    <strong>Date:</strong>
    <%= visit.date %>
  </p>


  <p>
    <strong>Visitor:</strong>
    <%= visit.visitor.name %>
  </p>

  <p>
    <strong>Employee:</strong>
    <%= visit.employee.name %>
  </p>

</div>
