<div id="form-all">


<h2>Editar visita</h2>

<%= render "form", visit: @visit %>

<br>

<div id="last-links">
  <%= link_to "Mostrar visita", @visit %> 
  <%= link_to "Voltar para visitas", visits_path %>
</div>
</div>