<div id="<%= dom_id unity %>">

  <div id="title-list">
  <p>
    <strong>Nome:</strong>
    <%= unity.name %>
  </p>

  <p>
    <strong>Secretaria:</strong>
    <%= unity.secretary.name %>
  </p>
  </div>
  

</div>
