<h1>AttendantsBackoffice::Welcome#index</h1>
<p>Find me in app/views/attendants_backoffice/welcome/index.html.erb</p>


<%= form_tag destroy_attendant_session_path, method: :delete do %>
  <%= submit_tag 'Logout' %>
<% end %>
