<h1>Editing secretary</h1>

<%= render "form", secretary: @secretary %>

<br>

<div>
  <%= link_to "Show this secretary", @secretary %> |
  <%= link_to "Back to secretaries", secretaries_path %>
</div>
