<h1>Editar secretaria</h1>

<%= render "form", secretary: @secretary %>

<br>

<div id="btns-sec">
  <%= link_to "Mostrar secretaria", @secretary %> |
  <%= link_to "Voltar para secretarias", secretaries_path %>
</div>
 