<p style="color: green"><%= notice %></p>
<div id="list-obj">

<h1>Secretarias</h1>
<%= link_to "Cadastrar Secretaria", new_secretary_path %>
<div id="body-list">
  <% @secretaries.each do |secretary| %>
    
    <p>
      <%= link_to secretary.name, secretary %>
    </p>
  <% end %>
</div>


</div>