#list-obj h1{
    font-weight: 800;
}

#list-obj a{
    background-color: #20B2AA;
    padding: 8px;
    color: #fff;
    border-radius: 15px;
    font-weight: 700;
}

#body-list{
    background-color: #fff;
    border-radius: 15px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#list-obj p{
    background-color: #20B2AA;
    padding: 8px;
   border-radius: 15px;
   margin-top: 10px;

}

#list-obj p a{
    color: #fff;
    font-weight: 700;
}