<div id="site">
<%= image_tag('logo.png')%>
<h1>Bem-Vindo</h1>

<p>
<%= link_to 'Logar Administrador', admins_backoffice_welcome_index_path%>
</p>

<p>
<%= link_to 'Logar Funcionário', employees_backoffice_welcome_index_path%>
</p>

<p>
<%= link_to 'Logar Atendente', attendants_backoffice_welcome_index_path%>
</p>

</div>
